
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=EB+Garamond:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=EB+Garamond:ital,wght@1,800&display=swap');
.page{
    height: 700px;
    width: 1235px;

}
.container{
    height: 500px;
    width: 500px;
    background-color: rgb(248, 242, 236);
    border-radius: 20px;
}
h4{
    font-family: 'EB Garamond', serif;
    font-size: 30px;
}
.label{
    margin-top: 10px;
    margin-left: 30px;
    font-family: 'EB Garamond', serif;
    font-size: larger;
}
.butn{
    padding: 10px 23px;
    background-color: #e46140;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 20px;
}