
  <!-- <div class="nav">
    <div class="head1">
      <h1>lets<b>eat</b></h1>
    </div>
    <div>
      <ul class="nav justify-content-end">

      <li class="nav-item">
        <a class="nav-link active" aria-current="page">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ">About</a>
      </li>
      
    </ul>
    </div>
    <div>
      <button type="button" class="signin" name="signin"> <a routerLink="signin">Sign In</a></button>
      <button type="button" class="signup" name="signup">Sign Up</button>
    </div>
    
  </div> -->
<body>
  <section class="grid">
    <div class="container">
      <div class="content">
        <div class="content-left">
          <div class="info">
            <h2>Order Your Best<br>Food anytime</h2>
            <p>Hey,Our Delicious food is waiting for you,<br>
              We are always near to you with fresh item of food</p>
          </div>
          <button class="explorebtn">Explore Food</button>
        </div>

        <div class="content-right">
          <img src="../assets/images/fudplate.jpg" class="img-fluid" alt="...">
        </div>
      </div>
    </div>
  </section>
</body>



  <router-outlet></router-outlet>
