
<div class="nav">
    <div class="head1">
      <h1>lets<b>eat</b></h1>
    </div>
    <div>
      <ul class="nav justify-content-end">

      <li class="nav-item">
        <a class="nav-link active" aria-current="page">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ">About</a>
      </li>
      
    </ul>
    </div>
    <div>
      <button type="button" class="signin" name="signin"> <a routerLink="signin" class="sig-link">Sign In</a></button>
      <button type="button" class="signup" name="signup"><a routerLink="userregister" class="sig-link">Sign Up</a></button>
    </div>
  <div>

    <router-outlet></router-outlet>
</div>