table{
    /* border: 1px;; */
     position:absolute;
     border-radius: 40px;
     height:400px;
     width: 1000px;
     background-color: rgb(243, 160, 160);
     color: black;
     margin-left: 220px;
     margin-top:10px;
     padding: 80px;
    border-bottom-width:0px;
 }
 
 td{
  top: 30px;
    padding-left: 50px; 
 }
th{
  color: #000;
  padding: 50px;
 }
